img {
  cursor: pointer;
}

.card-normal {
  width: 120px;
  height: 175px;
  display: flex;
  position: relative;
}
.card-rotate {
  width: 145px;
  height: 100px;
  display: flex;
  position: relative;
}
.card-draggable {
  width: 120px;
  height: 175px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  box-shadow: -10px 0px 5px rgba(0,0,0,0.6);
}

.card-draggable:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.atout {
  background-color: lightcoral;
}

.equipe1 {
  background-color: lightskyblue;
}

.equipe2 {
  background-color: lightgreen;
}
