<div class="container">
  <div class="overlay" *ngIf="!hasPartieId">
    <div class="login">
      <div class="card-header">
        <h3 *ngIf="!isAdmin && !hasSelectPartieId">Choisir une partie</h3>
        <h3 *ngIf="isAdmin">Création de partie</h3>
        <div class="row" *ngFor="let infoPartie of infoParties">
          <button style="margin-bottom:10px;margin-right:10px" class="col btn btn-info" data-toggle="button" [value]="selectPartieId"
                  (click)="onSelectPartie(infoPartie.id)">
            {{infoPartie.info}}
          </button>
          <button *ngIf="isAdmin" style="margin-bottom:10px" [value]="infoPartie.id"
                  (click)="onDeletePartie(infoPartie.id)"
                  class="col-md-auto btn btn-danger" type="button" title="Supprimer la partie {{infoPartie.id}}">
            <img src="../assets/delete.png" />
          </button>
        </div>
      </div>
      <div class="card-body">
        <input *ngIf="isAdmin || hasSelectPartieId" type="text" class="form-control" placeholder="Nom" [(ngModel)]="currentNom">
      </div>
      <div class="text-center">
        <div class="btn btn-primary" *ngIf="isAdmin" (click)="onCreerPartie()">Créer une partie</div>
        <div class="btn btn-primary" *ngIf="!isAdmin && hasSelectPartieId" (click)="onJoinPartie()">
          Rejoindre la partie {{selectPartieId}}
        </div>
      </div>
    </div>
  </div>

  <div style="position: fixed;right:200px;top:0px;" *ngIf="hasSpectateur">
    <img src="../assets/spectateur.png" />
  </div>

  <div style="position: fixed;left:0px;top:0px;">
    <img src="{{cardValueToImage(0)}}" />
    <div class="infoSurImage {{isBestCard(0)}}" style="top:20px">{{cardValueToName(0)}}</div>
  </div>
  <div style="position: fixed;left:50px;top:0px;">
    <img src="{{cardValueToImage(1)}}" />
    <div class="infoSurImage {{isBestCard(1)}}" style="top:40px">{{cardValueToName(1)}}</div>
  </div>
  <div style="position: fixed;left:100px;top:0px;">
    <img src="{{cardValueToImage(2)}}" />
    <div class="infoSurImage {{isBestCard(2)}}" style="top:60px">{{cardValueToName(2)}}</div>
  </div>
  <div style="position: fixed;left:150px;top:0px;">
    <img src="{{cardValueToImage(3)}}" />
    <div class="infoSurImage {{isBestCard(3)}}" style="top:80px">{{cardValueToName(3)}}</div>
  </div>
  <div style="position: fixed;left:{{posDepart.posX}};top:{{posDepart.posY}};">
    <img src="../assets/sontour.png" class="sontour-{{positionJoueur}}" />
  </div>
  <div style="position: fixed;left:{{partance.posX}}px;top:{{partance.posY}}px;">
    <div class="infoSurImage" style="bottom:30px;right:30px;">{{partance.valeur}}</div>
    <img src="../assets/dealer.png" style="width: 150px" />
    <img src="../assets/{{partance.couleur}}.png" style="position: absolute;left: 25px;top: 25px;" *ngIf="partance.couleur" />
  </div>

  <div style="position: fixed;right: 0;top: 0;left: -200px;">
    <div style="justify-content: center!important;display: flex!important;">
      <app-card *ngFor="let card of currentCards2; index as iCard" [value]=card [id]="id2" display="card-normal" [isInvisible]="!isCardVisible" [partieId]="partieId"
                [ngStyle]="rotationCard(iCard, 'nord')"></app-card>
    </div>
    <div style="margin-top:20px;justify-content: center!important;display: flex!important;font-weight: bold;">{{nom2}}</div>
  </div>

  <div style="position: fixed;top: 0;left: 0;bottom: 0;">
    <div style="position: relative;top: 50%;transform: translateY(-50%);">
      <app-card *ngFor="let card of currentCards3" [value]=card [id]="id3" display="card-rotate" [isInvisible]="!isCardVisible" [partieId]="partieId"></app-card>
    </div>
  </div>
  <div style="top: 0;left: 150px;bottom: 0;position: fixed;">
    <div style="position: relative;top: 50%;transform: translateY(-50%);font-weight: bold;">{{nom3}}</div>
  </div>

  <div style="top: 0;right: 380px;bottom: 0;position: fixed;">
    <div style="position: relative;top: 50%;transform: translateY(-50%);font-weight: bold;">{{nom4}}</div>
  </div>
  <div style="top: 0;right: 200px;bottom: 0;position: fixed;">
    <div style="position: relative;top: 50%;transform: translateY(-50%);">
      <!--style="display: inline-grid;align-items: center;text-align: center;"-->
      <app-card *ngFor="let card of currentCards4" [value]=card [id]="id4" display="card-rotate" [isInvisible]="!isCardVisible" [partieId]="partieId"></app-card>
    </div>
  </div>

  <div style="position: fixed;right: 0;bottom: 0;left: -200px;">
    <div style="margin-bottom:30px;justify-content: center!important;display: flex!important;font-weight: bold;">{{nom1}}</div>
    <div style="margin-bottom:20px; justify-content: center !important; display: flex !important;">
      <app-card *ngFor="let card of currentCards; index as iCard" [value]=card [id]="currentId" [socket]="socket" display="card-draggable" [partieId]="partieId"
                [draggable]="positionJoueur=='sud' && !isSpectateur" [ngStyle]="rotationCard(iCard, 'sud')"></app-card>
    </div>
  </div>
  <button style="right: 250px;bottom: 30px;position: fixed;" (click)="onAnnulerCarte()" class="btn btn-info" [disabled]="!canAnnulerCarte">Annuler la carte</button>
  <!-- Volet d'affichage -->
  <div style="top: 0;right: 0;bottom: 0;position:absolute;border:1px solid black;width:200px">
    <div style="display: flex">
      <div style="width:100px">Equipe 1</div>
      <div>Equipe 2</div>
    </div>
    <div style="display: flex">
      <div style="width:100px;font-size:small;font-weight: bold;">{{equipeNom1}}</div>
      <div style="width:100px;font-size:small;font-weight: bold;">{{equipeNom2}}</div>
    </div>
    <div *ngFor="let mene of currentMenes" style="display:flex">
      <div style="width:100px">{{mene.total1}}</div>
      <div style="width:100px">{{mene.total2}}</div>
    </div>
    <div style="display:flex;border:1px solid black">
      <div style="width:100px">Total: {{ getTotal1() }}</div>
      <div style="width:100px">Total: {{ getTotal2() }}</div>
    </div>
    <!--Volet d'administration-->
    <div style="bottom:0;position:absolute;" *ngIf="isAdmin">
      <div>Version 1.1.0</div>
      <button (click)="onResetPartie()" class="btn btn-danger btn-lg btn-block">Reset partie</button>
      <button (click)="onResetContrat()" class="btn btn-warning btn-lg btn-block">Reset contrat</button>
      <button style="margin-bottom:100px" (click)="onNewContrat()" class="btn btn-success btn-lg btn-block">Nouveau contrat</button>
      <div>
        <label for="spinner">Enchère:</label>
        <input type="number" min="80" max="160" step="10" [(ngModel)]="enchere" (change)="onValidateEnchere()" />
      </div>
      <label>
        <input type="radio" name="radCouleur" value="H" [(ngModel)]="couleur" (change)="onValidateEnchere()">
        <img src="../assets/coeur.png" width="49" height="50">
      </label>
      <label>
        <input type="radio" name="radCouleur" value="S" [(ngModel)]="couleur" (change)="onValidateEnchere()">
        <img src="../assets/pique.png" width="49" height="50">
      </label>

      <label>
        <input type="radio" name="radCouleur" value="D" [(ngModel)]="couleur" (change)="onValidateEnchere()">
        <img src="../assets/carreau.png" width="49" height="50">
      </label>
      <label>
        <input type="radio" name="radCouleur" value="C" [(ngModel)]="couleur" (change)="onValidateEnchere()">
        <img src="../assets/trefle.png" width="49" height="50">
      </label>
      <label>Partance</label>
      <div id="divPartance" style="display:flex;">
        <label><input type="radio" name="optPartance" value="1" [(ngModel)]="partanceId" (change)="onValidatePartance()"><span>{{currentNom}}</span></label>
        <label><input type="radio" name="optPartance" value="2" [(ngModel)]="partanceId" (change)="onValidatePartance()"><span>{{nom2}}</span></label>
        <label><input type="radio" name="optPartance" value="3" [(ngModel)]="partanceId" (change)="onValidatePartance()"><span>{{nom3}}</span></label>
        <label><input type="radio" name="optPartance" value="4" [(ngModel)]="partanceId" (change)="onValidatePartance()"><span>{{nom4}}</span></label>
      </div>
    </div>
  </div>
</div>
