/*.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 9;
}

.login {
  height: 400px;
  margin: -200px 0 0 -200px;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  position: absolute;
  top: 50%;
  left: 50%;
}

.card-header h3 {
  color: white;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}


.sontour-sud {
  transform: rotate(270deg);
}
.sontour-nord {
  transform: rotate(90deg);
}
.sontour-est {
  transform: rotate(180deg);
}
.sontour-ouest {
  transform: rotate(0deg);
}

.infoSurImage {
  z-index: 10;
  position: absolute;
  font-weight: bold;
  background-color: white;
}

  .infoSurImage.bestCard {
    background-color: red;
  }

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    outline: 1px solid #808080;
  }
/* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 3px solid #4800ff;
  }


/*#divPartance {
}

  #divPartance label {
    float: left;
    width: 47px;
    margin: 1px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
  }

    #divPartance label span {
      text-align: center;
      font-size: 15px;
      padding: 0px 0px;
      display: block;
      overflow: auto;
    }

    #divPartance label input {
      position: absolute;
    }

  #divPartance input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
  }*/


#divPartance {
}

  #divPartance label {
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    margin:1px;
  }

    #divPartance label span {
      text-align: center;
      font-size: 15px;
      padding: 0px 0px;
      display: block;
      width:45px;

    }

    #divPartance label input {
      position: absolute;
    }

  #divPartance input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
  }
