/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    outline: 1px solid #808080;
  }
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 3px solid #4800ff;
    background-color: white;
  }


.enchere {
  position: fixed;
  width: 200px;
  -webkit-tap-highlight-color: transparent;
  background-color: lightskyblue;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
  outline: none;
  z-index: 5;
}
